html
  head
    title Weather App
  body
    h1 Welcome to the Weather App
    p This is a simple weather forecast application.
    p To get started, please enter a city name in the search box.
    br
    a(href="/auth/signin") Sign In
